/* structure */
body {
  background-color: #1d1c16;
  color: #ffffff;
  font-family: "Fira Code", "Lato";
}

h1 {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 30px;
  color: #ffffff;
}

h2 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: #ffffff;
}

h3 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

h4 {
  font-family: "Roboto Serif";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

a, a:hover {
  text-decoration: none;
  color: #ffffff;
}

p {
  font-family: "Fira Code", "Lato";
  font-weight: 400;
  font-size: 20px;
}

.dynamic-item {
  padding-top: 120px;
  padding-bottom: 20px;
  min-height: 100vh;

  top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

section h2 {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #00BCD4;
  color: #212121;
  text-align: center;
}

section p {
  text-align: justify;
  line-height: 200%;

  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: #BDBDBD 1px solid;
}

section p:last-of-type {
  border-bottom: none;
  margin-bottom: 0px;
}

section span {
  padding: 10px;
}

section span:first-child {
  font-weight: 700;
  color: #212121;
  background-color: #757575;
  padding: 2px;
}

.page-content {
  max-width: 1080px;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

.section {
  min-height: 100vh;
  margin: auto 0px;
  border-bottom: 1px solid;
}


/* properties */
.flex-left {
  display: flex;
  justify-content: left;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spa {
  display: flex;
  justify-content: space-between;
}

header p:hover {
  background-color: #FF5722;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

header a {
  font-family: "Fira Code", "Lato";
  font-weight: 400;
}

#site-title {
  margin: 10px;
}

.sidebar h3 {
  margin-bottom: 0px;
  padding: 10px 10px;
  color: #212121;
}

.sidebar a:hover {
  background-color: #FF5722;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar a {
  font-family: "Fira Code", "Lato";
  font-weight: 400;
}

.primaryColorText {
  color: #E64A19;
}


/* larger screens */
@media (min-width: 760px) {
  header {
    background-color: #E64A19;
    padding: 10px;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header p {
    padding: 10px;
    margin: 0px 10px;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #E64A19;
    padding: 30px;
    position: sticky;
    top: 80px;

    height: calc(100vh - 80px);
    width: 20%;
  }

  .sidebar > div {
    text-align: left;
    width: fit-content;
    margin: auto;
    max-height: 100%;
    min-height: fit-content;
    overflow-y: scroll;
  }
}

/* smaller screens */
@media (max-width: 760px) {

}
